{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Debusine - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static "web/css/debusine.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "web/vendor/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "web/vendor/bootstrap/css/bootstrap-icons.min.css" %}">
</head>

<body>
<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="{% static "web/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
</body>

</html>