{% extends "web/_base.html" %}
{% block title %}{{ action }}Create an artifact{% endblock %}

{% block content %}
    <h1>Create artifact</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary btn-sm" type="submit" value="Create">
    </form>
    <br>
{% endblock %}
